*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  inline-size: 1140px;
  display: flex;
  margin-top: 133px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 133px;
  gap: 30px;
  align-items: flex-end;
}
.content__list {
  position: relative;
  display: grid;
  height: 298px;
  overflow: overlay;
}
.content__list-item:not(:last-child){
  margin-bottom: 30px;
}
.search-form {
  display: flex;
  justify-content: space-between;
  width: 711px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  object-position: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.content__video-card {
  display: flex;
  justify-content: space-between;
}
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3px;
}
.title {
  font-size: 75px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
  margin-block-end: 26px;
}

.content__accent {
  color: #545050;
}
.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6px;
  margin-top: 3px;
  margin-left: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}
.content__card-link {
  display: block;
  text-decoration: none;
}
.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  color: #ffffff;
  margin-left: 2px;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
fieldset {
  border: none;
}
.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 5px;
}
.search-form__textfield {
  width: 225px;
  background: transparent;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border-right: none;
  border-left: none;
  font-family: 'Fira Sans Condensed',sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  appearance: none;
  color: #fff;
}

.search-form__pseudo-checkbox {
  border: 1px solid white;
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  padding: 1px;
}
.search-form__label-text {
  line-height: 21.6px;
}
.button {
  font-family: "Fira Sans Condensed", sans-serif;
  background: transparent;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  font-size: 18px;
  line-height: 21.6px;
  height: 34px;
}
.search-form__submit-button {
  padding-inline: 72px;
  margin-top: 19px;
}
.more-button {
  padding-inline: 139px;
  height: 34px;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background-color: white;
}label:has(.search-form__label-text):hover {
  text-decoration: underline;
}
.search-form__textfield:focus {
  color: white;
  outline: none;
}

.search-form__textfield:active {
  border: none;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label:focus {
  outline: none;
}
button:active {
  background-color: #545050;
}
button:hover {
  text-decoration: underline;
}
button:focus {
  outline: none;
}
button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}
.content__card-link:hover {
  color: #ffffff;
  text-decoration: underline;
}
.content__card-link:active {
  background-color: #545050;
}
.content__card-link:focus {
  outline: none;
  border: none;
}
.content__card-link:focus-visible {
  outline: none;
  border: 1px solid white;
}
.content__card-link_current {
  background-color: #545050;
}
.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
  gap:5px;
  align-items:center;
}
